<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">
        Sing Up
    </h2>
    <hr>
    <div class="mb-3">
        <input class="form-control" type="text" name="username" [(ngModel)]="model.username" placeholder="Username">
    </div>
    <!-- <div class="mb-3">
        <label>Who is your favourite user?</label>
        <select class="form-select">
            <option *ngFor="let user of usersFormHomeComponent" 
            [value]="user.userName">{{ user.userName}}</option>
        </select>
    </div> -->
    <div class="mb-3">
        <input class="form-control" type="password" name="password" [(ngModel)]="model.password" placeholder="password">
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">
            Register
        </button>
        <button class="btn btn-default me-2" type="button" (click)="cancel()">
            Cancel
        </button>
    </div>
</form>